@import "assets/colors";
@import url("https://fonts.googleapis.com/css?family=Play:400,700");

#App {
  min-height: 100vh;
  width: 100vw;
  font: 16px/1 Play, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.5s;
  color: $text;

  a, a:visited {
    color: $text;

    &:hover {
      color: $link-hover;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 3.75rem;
      margin-bottom: 0;
      text-align: center;
    }

    a {
      font-size: 1.5rem;
    }
  }

  main {
    margin-bottom: 40px;
  }

  footer {
    p {
      text-align: center;
      margin: 0 0 5px 0;
    }
  }
}
