.clock {
  position: relative;

  canvas {
    min-width: 300px;
    width: 20vw;
    min-height: 300px;
    height: 20vw;
  }

  .labels {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      font-size: 3rem;
    }
  }
}
