@import "assets/colors";

.clock-control {
  padding: 10px;

  &.disabled {
    color: $text-inactive;

    & > .controls button {
      color: $text-inactive
    }
  }

  .label {
    font-size: 2rem;
    margin-bottom: 0;

    &.highlighted {
      color: $text;
    }
  }

  .sublabel {
    margin-top: 10px;
  }

  p {
    text-align: center;
  }

  & > .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      border: 0;
      background-color: transparent;
      color: $text;
      font-size: 3.125rem;
    }

    p {
      font-size: 3.125rem;
      margin: 0;
    }
  }
}

@media (max-width: 400px) {
  .clock-control > .controls {
    flex-direction: column-reverse;
  }
}
