@import "assets/colors";

.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .controls {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    &.buttons {
      justify-content: center;

      button {
        background-color: transparent;
        border: none;
        color: $text;
        font-size: 3rem;
        margin: 0 20px;
      }
    }
  }
}
